<% layout('boilerplate') -%>

<form action="/search" method="post" class="search">
    <input type="text" name="query" placeholder="Waar heb je zin in?">
    <button>Vind</button>
</form>

<div class="results"></div>